<nav class="menu">
  <ul>
    <li><a class="exit" href="/admin/{{id}}/exit">ВИХІД</a></li>
    <li><a class="menu-link" href="/admin/{{id}}/main">Головна</a></li>
    <li><a href="/admin/{{id}}/mainmenu">Головне меню</a></li>
    <li><a href="/admin/{{id}}/news/1">Новини</a></li>
    <li><a href="/admin/{{id}}/pages/1">Сторінки</a></li>
    {{!-- <li><a href="/admin/{{id}}/sidemenu/1">Бокове меню</a></li> --}}
    <li><a href="/admin/{{id}}/links/1">Посилання</a></li>
    <li><a href="/admin/{{id}}/user/1">Адміністратори</a></li>  
    <li><a href="/admin/{{id}}/create-content">Редактор</a></li>
    <li><a href="/admin/{{id}}/contact/show">Контакти</a></li>
    <li><a href="/admin/{{id}}/corps/1">Види/Роди військ</a></li>
    <li><a href="/admin/{{id}}/command/1">Командування</a></li>
    {{!-- <li><a href="/admin/{{id}}/message/1">Повідомлення</a></li> --}}
    <li><a href="/admin/{{id}}/history/1">Історія редагувань</a></li>
    <li><a href="/admin/{{id}}/settings">Налаштування</a></li>
  </ul>
</nav> 