<div class="sidebar">
  <ul>
    <li>
      <a href="/admin/{{id}}/main" title="Головна">
        <img src="/css/logo.png" style="width: 45px; height: 45px;">
      </a>
    </li>
    <li><a href="/admin/{{id}}/mainmenu/lang/ua" title="Головне меню"><i class="fas fa-bars"></i>Головне меню</a></li>
    <li><a href="/admin/{{id}}/news/1" title="Новини"><i class="fas fa-newspaper"></i>Новини</a></li>
    <li><a href="/admin/{{id}}/pages/1" title="Сторінки"><i class="fas fa-file"></i>Сторінки</a></li>
    {{!-- <li><a href="/admin/{{id}}/sidemenu/1" title="Бокове меню"><i class="fas fa-sliders-h"></i>Бокове меню</a></li> --}}
    <li><a href="/admin/{{id}}/links/1" title="Посилання"><i class="fas fa-share-alt"></i>Посилання</a></li>
    <li><a href="/admin/{{id}}/user/1" title="Адміністратори"><i class="fas fa-user-shield"></i>Адміністратори</a></li>  
    <li><a href="/admin/{{id}}/create-content" title="Редактор"><i class="fas fa-keyboard"></i>Редактор</a></li>
    <li><a href="/admin/{{id}}/contact/show" title="Контакти"><i class="fas fa-address-book"></i>Контакти</a></li>
    <li><a href="/admin/{{id}}/corps/1" title="Види/Роди військ"><i class="fas fa-meteor"></i>Види/Роди військ</a></li>
    <li><a href="/admin/{{id}}/command/1" title="Командування"><i class="far fa-address-card"></i>Командування</a></li>
    {{!-- <li><a href="/admin/{{id}}/message/1" title="Повідомлення"><i class="far fa-envelope"></i>Повідомлення</a></li> --}}
    <li><a href="/admin/{{id}}/history/1" title="Історія редагувань"><i class="fas fa-history"></i>Історія редагувань</a></li>
    <li><a href="/admin/{{id}}/settings" title="Налаштування"><i class="fas fa-cog"></i>Налаштування</a></li>
    <li class="version">Версія 1.7</li>
  </ul>
</div>