<head>
  <title>Редагувати види/роди військ</title>
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/checkbox_style.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/resets.css">
  <script src="/js/corps-fetch.js" defer></script>
</head>
<body style = "background-color: #2f2f2f">
  {{> menu id=userid}}
  <div class="container">
    {{#ifCond mode '===' 'add'}}
      <h3 class="title">Створити Вид/рід військ</h3>
    {{/ifCond}}
    {{#ifCond mode '===' 'edit'}}
      <h3 class="title">Вид/рід військ "{{title_ua}}"</h3>
    {{/ifCond}}
    <form id="corps-sign-form">
      <p class="label">Емблема</p>
      <input type="file" name="corpsSign" id="corps-sign-file" accept="image/jpeg,image/webp,image/png,image/svg+xml,image/gif" style="display: none;">
      <button type="button" id="browse-corps-sign" class="button secondary-btn">Огляд...</button>
      <button type="submit" id="submit-corps-sign" class="button accent-btn" disabled>Завантажити</button>
    </form>
    <div id="corps-sign-current-container" style="display: none;">
      <p class="label">Поточне зображення</p>
      <div class="text-left">
        <img id="corps-sign-current" src="{{corpsSignCurrent}}">
        <form id="corps-sign-current-delete">
          <button type="submit" class="button delete-btn">Видалити</button>
        </form>
      </div>
    </div>
    {{#ifCond mode '===' 'add'}}
      <form method="POST" action="/admin/{{userid}}/corps/add">
    {{/ifCond}}
    {{#ifCond mode '===' 'edit'}}
      <form method="POST" action="/admin/{{userid}}/corps/edit/{{corpsId}}">
    {{/ifCond}}
      <div>
        <label for="corps_title_ua">Назва Українською</label>
        <input type="text" name="title_ua" id="corps_title_ua" class="stretch" placeholder="Назва Українською" value="{{title_ua}}" required>
      </div>
      <div>
        <label for="corps_title_en">Назва Англійською</label>
        <input type="text" name="title_en" id="corps_title_en" class="stretch" placeholder="Назва Англійською" value="{{title_en}}" required>
      </div>
      <div>
        <label for="link_title">Посилання</label>
        <input type="text" name="link" class="stretch" placeholder="https://test.com" value="{{link}}" required>
      </div>
      <a href="/admin/{{userid}}/corps/1" class="button primary-btn">Назад</a>
      <button type="submit" class="button secondary-btn">Зберегти</button>
      <input name="corpsId" id="corps-id" value="{{corpsId}}" type="hidden">
    </form>
  </div>
  
</body>
{{!-- views by Vanivskyi --}}