<head>
  <title>Редагувати Категорію</title>
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/resets.css">
  <script src="/js/category-fetch.js" defer></script>
</head>
<body style = "background-color: #2f2f2f">
  {{> menu id=userid}}
  <div class="container">
    {{#ifCond mode '===' 'add'}}
      <h3 class="title">Створити Категорію</h3>
    {{/ifCond}}
    {{#ifCond mode '===' 'edit'}}
      <h3 class="title">Категорія "{{title_ua}}"</h3>
    {{/ifCond}}
    <div>
      <label for="category-img-input">Зображення</label>
      <form id="category-img-form">
        <input type="file" id="category-img-input" accept="image/*" name="categoryImage" style="display: none;">
        <button type="button" id="browse-category-img-btn" class="button secondary-btn">Огляд...</button>
        <button type="submit" id="submit-category-img-btn" class="button accent-btn" disabled>Зберегти</button>
      </form>
      <div class="flex" id="current-category-img-block" style="display: none;">
        <img id="category-image" src="{{imgSrc}}" alt="{{title_ua}}">
        <form id="category-img-delete-form">
          <button type="submit" class="button delete-btn">Видалити</button>
        </form>
      </div>
      <hr>
    </div>
    {{#ifCond mode '===' 'add'}}
      <form method="POST" action="/admin/{{userid}}/{{contentType}}/category/add">
    {{/ifCond}}
    {{#ifCond mode '===' 'edit'}}
      <form method="POST" action="/admin/{{userid}}/{{contentType}}/category/edit/{{categoryId}}">
    {{/ifCond}}
      <div>
        <label for="title_ua">Заголовок (UA)</label>
        <input 
          id="title_ua"
          type="text"
          class="stretch"
          name="title_ua"
          placeholder="Заголовок (UA)"
          value="{{title_ua}}"
          required
          >
      </div>
      <div>
        <label for="title_en">Заголовок (EN)</label>
        <input 
          id="title_en"
          type="text"
          class="stretch"
          name="title_en"
          placeholder="Заголовок (EN)"
          value="{{title_en}}"
          required
          >
      </div>
      <button class="button secondary-btn">Зберегти</button>
      <input type="hidden" id="category-id" name="categoryId" value="{{categoryId}}">
    </form>
    <a href="/admin/{{userid}}/{{contentType}}/category/1" class="button primary-btn">Назад</a>
  </div>
</body>
{{!-- views by Vanivskyi --}}