<head>
  <title>Редагувати бокове меню</title>
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/checkbox_style.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/resets.css">
</head>
<body style = "background-color: #2f2f2f">
  {{> menu id=userid}}
  <div class="container">
    <h3 class="title">Бокове меню "{{title}}"</h3>
    <form method="POST" action="/admin/{{userid}}/sidemenu/{{action_type}}">
      <div class="row">
        <div class="col-25">
          <label for="dropdown"><B>Мова</B></label>
        </div>
        <div class="col-75">
          <select id="dropdown" name="lang" class="stretch"
            <option value="ua">Українська</option>
            <option value="en">English</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="login"><B>Заголовок</B></label>
        </div>
        <div class="col-75">
          <input type="text" class="stretch"  name="title" placeholder="Заголовок" value="{{title}}" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="login"><B>Контент</B></label>
        </div>
        <div class="col-75">
          {{#if content_title}}
            <p>Поточний контент - {{content_title}}</p>
          {{/if}}
          {{#ContentList content_page_list ''}}
          {{/ContentList}} 
        </div>
      </div> 
      <button class="button secondary-btn">Зберегти</button>
    </form>
    <form method="GET" action="/admin/{{userid}}/sidemenu/1" class="inline">
        <button class="button secondary-btn" style="visibility:{{parameter}}">Відмінити</button>
    </form>
    <form method="POST" action="/admin/{{userid}}/sidemenu/delete/{{id}}" class="inline">
      <button class="button delete-btn" style="visibility:{{parameter}}" type="submit">Видалити</button>
    </form>
  </div>
</body>
{{!-- views by Vanivskyi --}}