<head>
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/checkbox_style.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/resets.css">
  <link rel="stylesheet" href="/css/buttons.css">
  <title>Редагувати контакт</title>
</head>
<body style = "background-color: #2f2f2f">
  {{> menu id=userid}}
  <div class="container">
    <h3 class="title">Контакт "{{title}}"</h3>
    <form action="/admin/{{userid}}/contact/{{action_type}}" method="post">
      <div class="row">
        <div class="col-25">
          <label for="login"><B>Назва</B></label>
        </div>
        <div class="col-75">
          <input type="text" class="stretch" name="title" placeholder="Назва" value="{{title}}" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="login"><B>Контакт</B></label>
        </div>
        <div class="col-75">
          <input type="text" class="stretch" name="contact" placeholder="Контакт" value="{{contact}}" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="type"><B>Тип Контакту</B></label>
        </div>
        <select name="type">
          {{#each typesContact}}
          <option>{{value}}</option>
          {{/each}}
        </select>
      </div>
      <button type="submit" class="button primary-btn">Зберегти</button>
    </form>
    <form method="POST" action="/admin/{{userid}}/contact/delete/{{contactid}}">
      <button type="submit" class="button delete-btn" style="visibility:{{parameter}}">Видалити</button>
    </form>
  </div>
</body>
{{!-- views by Vanivskyi --}}