<head>
  <title>Редагувати меню</title>
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/checkbox_style.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/resets.css">
  <link rel="stylesheet" href="/css/edit_styles.css">
  <script src="/js/filterContentList.js" defer></script>
</head>
<body style = "background-color: #2f2f2f">
  {{> menu id=userid}}
  <div class="container">
    {{#ifCond mode '===' 'add'}}
      <h3 class="title">Створити пункт меню</h3>
      <form method="POST" action="/admin/{{userid}}/all/submenu/{{submenu_id}}/child/add">
    {{/ifCond}}
    {{#ifCond mode '===' 'edit'}}
      <h3 class="title">Пункт меню "{{title}}"</h3>
      <form method="POST" action="/admin/{{userid}}/all/submenu/{{submenu_id}}/child/edit/{{id}}">
    {{/ifCond}}
      <div class="row">
        <div class="col-25">
          <label for="login">Назва</label>
        </div>
        <div class="col-75">
          <input type="text" class="stretch" name="title" placeholder="Назва" value="{{title}}" required>
        </div>
      </div>
      <div>
        {{#ifCond mode '===' 'edit'}}
          <p class="label">Поточний контент</p>
          <label>"{{currentContent}}"</label>
        {{/ifCond}}
      </div>
      <div class="row">
        <div class="col-75" style="text-align: center;">
            <h4>Доступні сторінки для контенту</h4>
            {{#ContentList pagesList ''}}
            {{/ContentList}}
        </div>
      </div>
      <div class="row">
        <div class="col-75" style="text-align: center;">
          <h4>Доступні Посилання для переходу на інші ресурси</h4>
          {{#LinkList link_list}}
          {{/LinkList}}
        </div>
      </div>
      <button class="button secondary-btn">Зберегти</button>
    </form>
    <form method="GET" action="/admin/{{userid}}/all/submenu/{{submenu_id}}/child" class="inline">
      <button class="button secondary-btn inline">Назад</button>
    </form>
    {{#ifCond mode '===' 'edit'}}
      <form method="POST" action="/admin/{{userid}}/all/submenu/{{submenu_id}}/child/remove/{{id}}" class="inline">
        <button class="button delete-btn" style="visibility:{{parameter}}">Видалити</button>
      </form>
    {{/ifCond}}
  </div>    
</body>
{{!-- views by Vanivskyi --}}
