<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/js/generate_pass.js" defer></script>
  <script src="/js/jquery-3.0.0.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js" defer></script>
  <script src="/js/tree-view.js" defer></script>
  <script src="/js/edit-user.js" defer></script>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/checkbox_style.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/tabs.css">
  <link rel="stylesheet" href="/css/buttons.css">
  <link rel="stylesheet" href="/css/resets.css">
  <link rel="stylesheet" href="/css/tree-view.css">
  <link rel="stylesheet" href="/css/edit_user.css">
</head>
<body style = "background-color: #2f2f2f">
  {{> menu id=userid}} 
  <div class="container">
    <form method="POST" action="/admin/{{userid}}/user/{{action_type}}" autocomplete="off">
      <h3 class="title">Користувач "{{login}}"</h3>
      {{#ifCond action_type '===' "add"}}
        <div>
          <label for="login"><B>Логін</B></label>
          <input type="text" class="stretch" id="name" name="login" placeholder="Логін" >
        </div>
        <div>
          <label for="email"><B>Електронна пошта</B></label>
          <input type="text" id="email" class="stretch" name="email" placeholder="Електронна пошта" >
        </div>
        <div>
          <label for="password" id="pass"><B>Пароль</B></label>
          <input type="password" id="password" class="stretch" name="password" placeholder="Пароль">
                
            <a class="button secondary-btn" id="view-pass" style="display: none;"> Показати Пароль </a>
            <a class="button secondary-btn" id="generator-pass" style="display: block;"> Згенерувати Пароль </a>   
        </div>
          <div>
            <label for="description_user"><B>Опис Користувача</B></label>
            <textarea placeholder="Детальніший опис користувача" name="description_user">{{description_user}}</textarea>
          </div>
      {{else}}
        <div class="with-mb">
          <div>
            <label for="login"><B>Логін</B></label>
            <input type="text" id="name" class="stretch" name="login" placeholder="Логін" value={{login}}>
          </div>
          <div>
            <label for="email"><B>Електронна пошта</B></label>
            <input type="text" id="email" class="stretch" name="email" placeholder="Електронна пошта" value="{{email}}">
          </div>
          <div>
            <label for="description_user"><B>Опис Користувача</B></label>
            <textarea placeholder="Детальніший опис користувача" name="description_user">{{description_user}}</textarea>
          </div>
          <a id="edit_password" href="./{{userid}}/password" class="button primary-btn">Змінити пароль</a>
        </div>
      {{/ifCond}}
      {{#if edit}}
        <div class="row">
          <div class="categories-block">
            <h4 id="name_component">Доступні категорії для опрацювання</h4>
            <select id="select-user-categories" name="selectUserCategories">
              <option value="setup">Налаштувати</option>
              <option value="all">Усі категорії</option>
            </select>  
            <div id="user-rights-tab">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="pages-tab" data-toggle="tab" href="#pages" role="tab" aria-controls="pages" aria-selected="true">Сторінки</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="false">Новини</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="links-tab" data-toggle="tab" href="#links" role="tab" aria-controls="links" aria-selected="false">Посилання</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="contacts-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts" aria-selected="false">Контакти</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="corps-tab" data-toggle="tab" href="#corps" role="tab" aria-controls="corps" aria-selected="false">Види/Роди військ</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="command-tab" data-toggle="tab" href="#command" role="tab" aria-controls="command" aria-selected="false">Командування</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">Користувачі</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false">Інше</a>
                </li>
              </ul>
              <div class="tab-content" id="rightsTabContent">
                <div class="tab-pane fade show active" id="pages" role="tabpanel" aria-labelledby="pages-tab">
                  <label class="check">Надати доступ
                    <input id="category-pages" type="checkbox" name="PAGES" {{PAGES}}>
                    <span class="checkmark"></span>
                  </label>
                  <div id="content-list-pages" class="disabled">
                    <h5>Надати доступ до визначеного контенту</h5>
                    <div class="user-content-container">
                      {{#CheckListPages pagesData}}
                      {{/CheckListPages}}
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="news" role="tabpanel" aria-labelledby="news-tab">
                  <label class="check">Надати доступ
                    <input id="category-news" type="checkbox" name="NEWS"{{NEWS}}>
                    <span class="checkmark"></span>
                  </label>
                  <div id="content-list-news" class="disabled">
                    <h5>Надати доступ до визначеного контенту</h5>
                    <div class="user-content-container">
                      {{#CheckListNews newsData}}
                      {{/CheckListNews}}
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="links" role="tabpanel" aria-labelledby="links-tab">
                  <label class="check">Надати доступ
                    <input id="category-links" type="checkbox" name="LINKS"{{LINKS}}>
                    <span class="checkmark"></span>
                  </label>
                  <div id="content-list-links" class="disabled">
                    <h5>Надати доступ до визначеного контенту</h5>
                    <div class="user-content-container">
                      {{#CheckListLinks linksData}}
                      {{/CheckListLinks}}
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
                  <label class="check">Надати доступ
                    <input id="category-contacts" type="checkbox" name="CONTACTS"{{CONTACTS}}>
                    <span class="checkmark"></span>
                  </label>
                  <div id="content-list-contacts" class="disabled" data-content="list">
                    <h5>Надати доступ до визначеного контенту</h5>
                    <div class="user-content-container">
                      {{#CheckListContacts contactsData}}
                      {{/CheckListContacts}}
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="corps" role="tabpanel" aria-labelledby="corps-tab">
                  <label class="check">Надати доступ
                    <input id="category-corps" type="checkbox" name="CORPS"{{CORPS}}>
                    <span class="checkmark"></span>
                  </label>
                  <div id="content-list-corps" class="disabled">
                    <h5>Надати доступ до визначеного контенту</h5>
                    <div class="user-content-container">
                      {{#CheckListCorps corpsData}}
                      {{/CheckListCorps}}
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="command" role="tabpanel" aria-labelledby="command-tab">
                  <label class="check">Надати доступ
                    <input id="category-command" type="checkbox" name="COMMAND"{{COMMAND}}>
                    <span class="checkmark"></span>
                  </label>
                  <div id="content-list-command" class="disabled">
                    <h5>Надати доступ до визначеного контенту</h5>
                    <div class="user-content-container">
                      {{#CheckListCommand commandData}}
                      {{/CheckListCommand}}
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
                  <label class="check">Надати доступ
                    <input id="category-users" type="checkbox" name="USER"{{USER}}>
                    <span class="checkmark"></span>
                  </label>
                  <div id="content-list-users" class="disabled">
                    <h5>Надати доступ до визначених користувачів</h5>
                    <div class="user-content-container">
                      {{#CheckListUsers usersData}}
                      {{/CheckListUsers}}
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
                  <label class="check">Основне меню
                    <input id="category-menu" type="checkbox" name="MAIN_MENU"{{MAIN_MENU}}>
                    <span class="checkmark"></span>
                  </label>
                  <label class="check">Створення контенту
                    <input type="checkbox" name="CONTENT" {{CONTENT}}>
                    <span class="checkmark"></span>
                  </label>
                  {{!-- <label class="check">Бокове Меню
                    <input type="checkbox" name="SIDEMENU"{{SIDEMENU}}>
                    <span class="checkmark"></span>
                  </label> --}}
                  {{!-- <label class="check">Повідомлення
                    <input type="checkbox" name="MESSAGE"{{MESSAGE}}>
                    <span class="checkmark"></span>
                  </label> --}}
                  <label class="check">Історія
                    <input type="checkbox" name="HISTORY"{{HISTORY}}>
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
      <button type="submit" class="button secondary-btn">Зберегти</button>
    </form>
    <form method="GET" action="/admin/{{userid}}/user/1" class="inline">
      <button type="submit" class="button secondary-btn" style="visibility:{{parameter}}">Відмінити</button>
    </form>
    {{#ifCond action_type '!=='"add"}}
      <form method="POST" action="/admin/{{userid}}/user/delete/{{edited_userid}}" class="inline">
          <button type="submit" class="button delete-btn">Видалити</button>
      </form>
    {{/ifCond}}
  </div>
</body>
</html>