<head>
  <title>Історія</title>
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/resets.css">
  <link rel="stylesheet" href="/css/main_styles.css">
  <script src="/js/history-filter.js" defer></script>
</head>
<body>
  <header class="header">
    <h1>Історія</h1>
    <a id="exit" href="/admin/{{user}}/exit"><i class="fas fa-power-off"></i> ВИХІД</a>
  </header>
  {{> sidebar id=user}}
  <div class="table_container cp-big">
    <div class="control-panel">
      <div class="filter-form">
        <input type="text" id="filter-date" placeholder="dd.mm.yyyy"></input>
        <select id="filter-operation">
          <option id="all">Всі типи операцій</option>
          {{#each category }}
            <option>{{value}}</option>
          {{/each}}   
        </select>
        <select id="filter-users">
          <option id="all">Всі користувачі</option>
          {{#each users}}
            <option>{{login}}</option>
          {{/each}}
        </select>
        <input type="search" id="search-operation" placeholder="Операція">
      </div>
      <div class="control-buttons">
        <button id="filter-button" class="button primary-btn filter-btn">Фільтрувати</button>
        <button id="disabled-filter-button" class="button primary-btn filter-btn">Скинути фільтр</button>
        {{#if status}}
          {{!-- <a href="/admin/{{user}}/archive/1" class="button secondary-btn">Архів Пошти</a> --}}
          <a href="/admin/{{user}}/history/xlsx" class="button secondary-btn">Зберегти .xls</a>
          <div class="inline">
            <form method="POST" action="/admin/{{user}}/history/delete" class="inline">
              <button class="button delete-btn">Очистити історію</button>
            </form>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="content-area">
      <table class="table-fill" id="table">
        <thead>
          <tr>
            <th>Тип</th>
            <th>Операція</th>
            <th>Користувач</th>
            <th>Дата створення</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {{#each history}}
            <tr>
              <td class="text-left" id="type-content">{{type_content}}</td>
              <td class="text-center" id="type-operation">{{operation}}</td>
              <td class="text-center" id="user">{{user}}</td>
              <td class="text-center" id="date">{{create_date}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <ul>
        {{#loop 1 pages 1}}
          <li id="pages-container">
            <a id="counter" href="./{{this}}">{{this}}</a>
          </li>
        {{/loop}}
      </ul>
    </div>
  </div>     
</body>
