<head>
  <title>Посилання</title>
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/main_styles.css">
</head>
<body>
  <header class="header">
    <h1>Посилання на інші ресурси</h1>
    <a id="exit" href="/admin/{{user}}/exit"><i class="fas fa-power-off"></i> ВИХІД</a>
  </header>
  {{> sidebar id=user}}
  <div class="table_container">
    <div class="control-panel small">
      <a href="/admin/{{user}}/links/add" class="button accent-btn">Додати</a>
    </div>
    <div class="content-area">
      <table class="table-fill">
        <thead>
          <tr>
            <th>Назва Українською</th>
            <th>Назва Англійською</th>
            <th class="link-type">Тип</th>
            <th>Посилання</th>
            <th>Редагування</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {{#each links}}
            <tr>
              <td class="text-left">{{title_ua}}</td>
              <td class="text-left">{{title_en}}</td>
              <td class="text-center">{{type}}</td>
              <td class="text-left">{{link}}</td>
              <td class="text-left">
                <form method="GET" action="/admin/{{../user}}/links/edit/{{_id}}">
                  <button class="button primary-btn">Редагувати</button>
                </form>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <ul>
        {{#loop 1 pages 1}}
          <li id="pages-container">
            <a id="counter" href="./{{this}}">{{this}}</a>
          </li>
        {{/loop}}
      </ul>
    </div>
  </div>
</body>
