<head>
  <title>Скасовані новини</title>
  <link rel="stylesheet" href="/css/dtsel.css" />
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/main_styles.css">
  <script src="/js/dtsel.js"></script>
  <script src="/js/news-filter.js" defer></script>
</head>
<body>
  <header class="header">
    <h1>Скасовані новини</h1>
    <a id="exit" href="/admin/{{user}}/exit"><i class="fas fa-power-off"></i> ВИХІД</a>
  </header>
  {{> sidebar id=user}}
  <div class="table_container cp-big">
    <div class="control-panel">
      <div id="filter-form" class="filter-form">
        <input id="filter-date" type="text" placeholder="dd.mm.yyyy">
        <select id="filter-news-parameter">
            {{#each news_type_constant}} 
          <option id="{{id}}">{{value}}</option>
          {{/each}}
        </select>
          {{!-- <select id="filter-status">
          <option id="all">Усі Cтатуси</option>
          <option id="ua">Відкладені Новини</option>
          <option id="en">Скасовані Новини</option>
        </select> --}}
          <select id="filter-language">
          <option id="all">Усі Мови</option>
          <option id="ua">ua</option>
          <option id="en">en</option>
        </select>
        <input id="filter-title" type="search" placeholder="Заголовок">
      </div>
      <div class="control-buttons">
        <a href="/admin/{{user}}/news/add" class="button accent-btn">Створити</a>
        <a href="/admin/{{user}}/news/1" class="button secondary-btn">Опубліковані</a>
        <a href="/admin/{{user}}/news/category/1"class="button secondary-btn">Категорії</a>
        <button  id="filter-active" class="button primary-btn filter-btn">Фільтрувати</button>   
        <button id="disabled-filter" class="button primary-btn filter-btn">Cкинути фільтр</button>
      </div>
    </div> 
    <div class="content-area">
      <table class="table-fill"  id="table">
        <thead>
          <tr>
            <th>Заголовок</th>
            <th class="news-type">Тип Новини</th>
            <th class="date">Дата</th>
            <th class="lang">Мова</th>
            <th>Ключові слова</th>
            <th class="news-status">Статус Новини</th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {{#each news}} 
          <tr>
            <td class="text-left" id="news-title">{{title}}</td>
            <td class="text-center" id="news-type">{{type}}</td>
            <td class="text-center" id="date">{{date}}</td>
            <td class="text-center" id="lang-type">{{language}}</td>
            <td class="text-center">{{keywords}}</td>
            <td class="text-center " id="status">{{publicStatus}}</td>
            <td class="text-center">
              <form method="POST" action="/admin/{{../user}}/news-public/{{_id}}">
                <button class="button secondary-btn">Публікувати</button>
              </form>
              <a href="https://www.zsu.gov.ua/Новина/test/zsu_site/backeand/site/v_2/2020/3123/id/news/seen/{{_id}}" class="button accent-btn" target="_blank">Попередній перегляд</a>
              <form method="GET" action="/admin/{{../user}}/news/edit/{{_id}}">
                <button class="button secondary-btn">Редагувати</button>
              </form>
              <form method="POST" action="/admin/{{../user}}/news/delete/{{_id}}">
                <button class="button delete-btn">Видалити</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</body>