<head>
  <title>Опубліковані Новини</title>
  <link rel="stylesheet" href="/css/dtsel.css" />
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/main_styles.css">
  <script src="/js/dtsel.js"></script>
  <script src="/js/news-filter.js" defer></script>
</head>
<body>
  <header class="header">
    <h1>Опубліковані Новини</h1>
    <a id="exit" href="/admin/{{user}}/exit"><i class="fas fa-power-off"></i> ВИХІД</a>
  </header> 
  {{> sidebar id=user}}
  <div class="table_container cp-big">
    <div class="control-panel">
      <div id="filter-form" class="filter-form">
        <input id="filter-date" type="text" placeholder="dd.mm.yyyy">
        <select id="filter-news-parameter">
            {{#each news_type_constant}} 
          <option id="{{id}}">{{value}}</option>
          {{/each}}
        </select>
          <select id="filter-language">
          <option id="all">Усі Мови</option>
          <option id="ua">ua</option>
          <option id="en">en</option>
        </select>
        <input id="filter-title" type="search" placeholder="Заголовок">  
      </div>
      <div class="control-buttons">
        <a href="/admin/{{user}}/news/add" class="button accent-btn">Створити</a>
        <a href="/admin/{{user}}/news-cancel/1" class="button secondary-btn canceled-news">Скасовані</a>
        <a href="/admin/{{user}}/news/category/1"class="button secondary-btn">Категорії</a>
        <button id="filter-active" class="button primary-btn filter-btn">Фільтрувати</button>   
        <button id="disabled-filter" class="button primary-btn filter-btn">Cкинути фільтр</button>
      </div>
    </div>
    <div class="content-area">
      <table class="table-fill" id="table">
        <thead>
          <tr>
            <th>Заголовок</th>
            <th class="news-type">Тип Новини</th>
            <th class="date">Дата</th>
            <th class="lang">Мова</th>
            <th>Кількість переглядів</th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody class="table-hover" id="table-rows">
          {{#each news}} 
            <td id="news-title" class="text-left">{{title}}</td>
            <td id="news-type" class="text-center">{{type}}</td>
            <td id="date" class="text-center">{{date}}</td>
            <td id="lang-type"class="text-center">{{language}}</td>
            <td class="text-center">{{views}}</td>
            <td class="text-center">
              <form method="GET" action="/admin/{{../user}}/news/edit/{{_id}}">
                <button class="button secondary-btn">Редагувати</button>
              </form>
              <form method="POST" action="/admin/{{../user}}/news-cancel/{{_id}}">
                <button class="button secondary-btn">Скасувати публікацію</button>
              </form>
              <form method="POST" action="/admin/{{../user}}/news/delete/{{_id}}">
                <button class="button delete-btn">Видалити</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</body>