<head>
  <title>Головне меню : {{long_lang}}</title>
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/main_styles.css">
</head>
<body>
  <header class="header">
    <h1>Головне меню ({{langCurrent}})</h1>
    <a id="exit" href="/admin/{{user}}/exit"><i class="fas fa-power-off"></i> ВИХІД</a>
  </header> 
  {{> sidebar id=user}}
  <div class="table_container">
    <div class="control-panel small">
      <a href="/admin/{{user}}/mainmenu/{{langCurrent}}/add" class="button accent-btn">Додати</a>
      <a href="/admin/{{user}}/mainmenu/lang/{{langOther}}" class="button secondary-btn">{{langOther}}</a>
    </div>
    <div class="content-area">
      <table class="table-fill">
        <thead>
          <tr>
            <th>№</th>
            <th>Заголовок</th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {{#each main}}
          <tr>
            <td class="text-left">{{number}}</td>
            <td class="text-left">{{title}}</td>
            <td class="left-center">
              <form method="GET" action="/admin/{{../user}}/mainmenu/{{../langCurrent}}/edit/{{_id}}">
                <button type="submit" class="button primary-btn">Редагувати</button>
              </form>
              <form method="GET" action="/admin/{{../user}}/all/{{_id}}/submenu">
                <button type="submit" class="button secondary-btn">Перейти в Підменю</button>
              </form>
              <form method="POST" action="/admin/{{../user}}/mainmenu/setUp/{{_id}}/{{../langCurrent}}">
                <button type="submit" class="button secondary-btn">Підняти в гору</button>
              </form>
              <form method="POST" action="/admin/{{../user}}/mainmenu/setDown/{{_id}}/{{../langCurrent}}">
                <button type="submit" class="button secondary-btn">Спустити вниз</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</body>