<!DOCTYPE html>
<html lang="uk" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Скасовані новини</title>
  <script src="/js/news-filter.js" defer></script>
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/buttons.css">
  <link rel="stylesheet" href="/css/main_styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
  <header class="header">
    <h1>Скасовані новини</h1>
    <a id="exit" href="/admin/{{user}}/exit"><i class="fas fa-power-off"></i> ВИХІД</a>
  </header>
  {{> sidebar id=user}}
  <div class="table_container cp-big">
    <div class="control-panel">
      <div id="filter-form" class="filter-form">
        <input id="filter-date" type="date" data-date-format="DD-MMMM-YYYY" >
        <select id="filter-news-parameter">
            {{#each news_type_constant}} 
          <option id="{{id}}">{{value}}</option>
          {{/each}}
        </select>
          {{!-- <select id="filter-status">
          <option id="all">Усі Cтатуси</option>
          <option id="ua">Відкладені Новини</option>
          <option id="en">Скасовані Новини</option>
        </select> --}}
          <select id="filter-language">
          <option id="all">Усі Мови</option>
          <option id="ua">ua</option>
          <option id="en">en</option>
        </select>
        <input id="filter-title" type="search" placeholder="Заголовок">
      </div>
      <div class="control-buttons">
        <a href="/admin/{{user}}/news/1" class="button accent-btn">Опубліковані</a>
        <button  id="filter-active" class="button primary-btn filter-btn">Фільтрувати</button>   
        <button id="disabled-filter" class="button primary-btn filter-btn">Cкинути фільтр</button>
      </div>
    </div> 
    <div class="content-area">
      <table class="table-fill"  id="table">
        <thead>
          <tr>
            <th>Заголовок</th>
            <th class="news-type">Тип Новини</th>
            <th class="date">Дата</th>
            <th class="date">Час</th>
            <th class="lang">Мова</th>
            <th>Ключові слова</th>
            <th class="news-status">Статус Новини</th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {{#each news}} 
          <tr>
            <td class="text-left" id="news-title">{{page_title}}</td>
            <td class="text-center" id="news-type">{{page_subclass}}</td>
            <td class="text-center" id="date">{{date}}</td>
            <td class="text-center" id="time">{{time}}</td>
            <td class="text-center" id="lang-type">{{lang}}</td>
            <td class="text-left">{{keywords}}</td>
            <td class="text-center " id="status">{{public_status}}</td>
            <td class="text-center">
              <form method="POST" action="/admin/{{../user}}/news-public/{{_id}}">
                <button class="button secondary-btn">Публікувати</button>
              </form>
              <form method="GET" action="/admin/{{../user}}/edit-content/{{_id}}">
                <button class="button secondary-btn">Редагувати</button>
              </form>
              <form method="POST" action="/admin/{{../user}}/news/delete/{{_id}}">
                <button class="button delete-btn">Видалити</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <ul>
        {{#loop 1 pages 1}}
          <li id="pages-container">
            <a id="counter" href="./{{this}}">{{this}}</a>
          </li>
        {{/loop}}
      </ul>
    </div>
  </div>
</body>
</html>