<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Не перевірені сторінки</title>
  <script src="/js/pages-filter.js" defer></script>
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/buttons.css">
  <link rel="stylesheet" href="/css/main_styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
  <header class="header">
    <h1>Не перевірені сторінки</h1>
    <a id="exit" href="/admin/{{user}}/exit"><i class="fas fa-power-off"></i> ВИХІД</a>
  </header>
  {{> sidebar id=user}}
  <div class="table_container cp-big">
    <div class="control-panel">
      <div id="filter-form" class="filter-form">
        <select name="filter-main" id="filter-main" class="filter-main">
          <option id="all">Усі сторінки </option>
          <option>Усі сторінки Головного Меню</option>
          <option>Усі сторінки Бокового Меню</option>
          {{#each menu_names}}
          <option>{{title}}</option>
          {{/each}}
        </select>
        <select name="language" id="filter-language">
          <option id="all">Усі Мови</option>
          <option>ua</option>
          <option>en</option>
        </select>
        <input type="search" placeholder="Назва Сторінки" id="filter-title">
      </div>
      <div class="control-buttons">
        <a href="/admin/{{user}}/pages/1" class="button accent-btn published">Перевірені</a>
        <button id="filter-active" class="button primary-btn filter-btn">Фільтрувати</button>
        <button id="disabled-filter" class="button primary-btn filter-btn">Скинути фільтр</button>
      </div>
    </div>
    <div class="content-area">
      <table class="table-fill"  id="table">
        <thead>
          <tr>
            <th>Назва</th>
            <th class="page-check">Головне Меню</th>
            <th>Пункт Головного Меню</th>
            <th class="page-check">Бокове Меню</th>
            <th>Пункт Бокового Меню</th>
            <th class="lang">Мова</th>
            <th>Ключові слова</th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {{#each contentPages}}
          <tr>
            <td class="text-left" id="page-title">{{page_title}}</td>
            <td class="text-center" id="page-dependense-main">{{dependense_main}}</td>
            <td class="text-center" id="page-dependense-main-title">{{dependense_main_title}}</td>
            <td class="text-center" id="page-dependense-side">{{dependense_side}}</td>
            <td class="text-center" id="page-dependense-side-title">{{dependense_side_title}}</td>
            <td class="text-center"  id="page-language">{{lang}}</td>
            <td class="text-left">{{keywords}}</td>
            <td class="text-center">
              <form method="GET" action="/admin/{{../user}}/edit-content/{{_id}}">
                <button class="button secondary-btn">Редагувати</button>
              </form>
              <form method="POST" action="/admin/{{../user}}/pages/publish/{{_id}}">
                <button class="button secondary-btn">Перевірено</button>
              </form>
              <form method="POST" action="/admin/{{../user}}/pages/delete/{{_id}}">
                <button class="button delete-btn">Видалити</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <ul>
        {{#loop 1 pages 1}}
          <li id="pages-container">
            <a id="counter" href="./{{this}}"> {{this}} </a>
          </li>
        {{/loop}}
      </ul>
    </div>
  </div>
</body>
</html>