<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Головне меню</title>
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/buttons.css">
  <link rel="stylesheet" href="/css/main_styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
  <header class="header">
    <h1>Головне меню</h1>
    <a id="exit" href="/admin/{{user}}/exit"><i class="fas fa-power-off"></i> ВИХІД</a>
  </header> 
  {{> sidebar id=user}}
  <div class="table_container">
    <div class="control-panel small">
      <a href="/admin/{{user}}/mainmenu/add" class="button accent-btn">Додати</a>
    </div>
    <div class="content-area">
      <table class="table-fill">
        <thead>
          <tr>
            <th>№</th>
            <th>Заголовок</th>
            <th class="lang">Мова</th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {{#each main}}
          <tr>
            <td class="text-left">{{number}}</td>
            <td class="text-left">{{title}}</td>
            <td class="text-center">{{lang}}</td>
            <td class="left-center">
              <form method="GET" action="/admin/{{../user}}/mainmenu/edit/{{_id}}" class="inline">
                <button type="submit" class="button primary-btn">Редагувати</button>
              </form>
              <form method="GET" action="/admin/{{../user}}/all/{{_id}}/submenu" class="inline">
                <button type="submit" class="button secondary-btn">Перейти в Підменю</button>
              </form>
               <form method="POST" action="/admin/{{../user}}/mainmenu/setUp/{{_id}}" class="inline">
                <button type="submit" class="button secondary-btn">Підняти в гору</button>
              </form>
               <form method="POST" action="/admin/{{../user}}/mainmenu/setDown/{{_id}}" class="inline">
                <button type="submit" class="button secondary-btn">Спустити вниз</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>