<head>
  <title>Налаштування</title>
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/main_menu_settings.css">
  <link rel="stylesheet" href="/css/main_styles.css">
</head>
<body>
  <header class="header">
    <h1>Налаштування</h1>
    <a id="exit" href="/admin/{{user}}/exit"><i class="fas fa-power-off"></i> ВИХІД</a>
  </header> 
  {{> sidebar id=user}}
  <div class="table_container">
    <h3 class="label">Записів на сторінку</h3>
    <div>
      <form action="/admin/{{user}}/settings/rpp/contacts" method="POST" class="grid-container">
        <label for="set_rpp_contacts" class="label">Контакти (від 3 до 100):</label>
        <input type="number" name="set_rpp_contacts" min="3" max="100" value="{{contacts}}" id="set_rpp_contacts">
        <button type="submit" class="button primary-btn"> Зберегти</button>
      </form>
      <form action="/admin/{{user}}/settings/rpp/corps" method="POST" class="grid-container">
        <label for="set_rpp_corps" class="label">Види/роди військ(від 3 до 100):</label>
        <input type="number" name="set_rpp_corps" min="3" max="100" value="{{corps}}" id="set_rpp_corps">
        <button type="submit" class="button primary-btn"> Зберегти</button>
      </form>
      <form action="/admin/{{user}}/settings/rpp/links" method="POST" class="grid-container">
        <label for="set_rpp_links" class="label">Посилання (від 3 до 100):</label>
        <input type="number" name="set_rpp_links" min="3" max="100" value="{{links}}" id="set_rpp_links">
        <button type="submit" class="button primary-btn"> Зберегти</button>
      </form>
      {{!-- <form action="/admin/{{user}}/settings/rpp/news" method="POST">
          <label for="set_rpp_news" style="color:white;">Новини (від 3 до 100):</label>
          <input type="number" name="set_rpp_news" min="3" max="100" value="{{news}}" id="set_rpp_news">
          <button type="submit" class="button primary-btn"> Зберегти</button>
      </form>
      <form action="/admin/{{user}}/settings/rpp/pages" method="POST">
          <label for="set_rpp_pages" style="color:white;">Сторінки (від 3 до 100):</label>
          <input type="number" name="set_rpp_pages" min="3" max="100" value="{{pages}}" id="set_rpp_pages">
          <button type="submit" class="button primary-btn"> Зберегти</button>
      </form> --}}
      {{!-- <form action="/admin/{{user}}/settings/rpp/sidemenu" method="POST" class="grid-container">
        <label for="set_rpp_sidemenu" class="label">Бокове меню (від 3 до 100):</label>
        <input type="number" name="set_rpp_sidemenu" min="3" max="100" value="{{sidemenu}}" id="set_rpp_sidemenu">
        <button type="submit" class="button primary-btn"> Зберегти</button>
      </form> --}}
      {{!-- <form action="/admin/{{user}}/settings/rpp/history" method="POST">
          <label for="set_rpp_history" style="color:white;">Історія (від 3 до 100):</label>
          <input type="number" name="set_rpp_history" min="3" max="100" value="{{history}}" id="set_rpp_history">
          <button type="submit" class="button primary-btn"> Зберегти</button>
      </form> --}}
      <form action="/admin/{{user}}/settings/rpp/users" method="POST" class="grid-container">
        <label for="set_rpp_users" class="label">Користувачі (від 3 до 100):</label>
        <input type="number" name="set_rpp_users" min="3" max="100" value="{{users}}" id="set_rpp_users">
        <button type="submit" class="button primary-btn"> Зберегти</button>
      </form>
      <form action="/admin/{{user}}/settings/rpp/command" method="POST" class="grid-container">
        <label for="set_rpp_users" class="label">Командування (від 3 до 100):</label>
        <input type="number" name="set_rpp_command" min="3" max="100" value="{{command}}" id="set_rpp_command">
        <button type="submit" class="button primary-btn"> Зберегти</button>
      </form>
      {{!-- <form action="/admin/{{user}}/settings/rpp/message" method="POST" class="grid-container">
        <label for="set_rpp_users" class="label">Повідомлення (від 3 до 100):</label>
        <input type="number" name="set_rpp_message" min="3" max="100" value="{{message}}" id="set_rpp_message">
        <button type="submit" class="button primary-btn"> Зберегти</button>
      </form> --}}
    </div>
  </div>
</body>
