<head>
  <title>Командування</title>
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/resets.css">
  <link rel="stylesheet" href="/css/main_styles.css">
</head>
<body>
  <header class="header">
    <h1>Командування</h1>
    <a id="exit" href="/admin/{{user}}/exit"><i class="fas fa-power-off"></i> ВИХІД</a>
  </header>
  {{> sidebar id=user}}
  <div class="table_container">
    <div class="control-panel small">
      <a href="/admin/{{user}}/command/add" class="button accent-btn">Додати</a>
    </div>
    <div class="content-area">
      <table class="table-fill">
        <thead>
          <tr>
            <th>Емблема</th>
            <th>Назва Українською</th>
            <th>Назва Англійською</th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {{#each command}}
            <tr>
              <td class="text-center">
                {{#ifCond signUrl '!==' ''}}
                  <img src="{{signUrl}}" alt="{{title_ua}}">
                  {{else}}
                  <span>Відсутнє</span>
                {{/ifCond}}
              </td>
              <td class="text-left">{{title_ua}}</td>
              <td class="text-left">{{title_en}}</td>
              <td class="text-center">
                <a href="/admin/{{../user}}/command/edit/{{_id}}" class="button primary-btn">Редагувати</a>
                <form method="POST" action="/admin/{{../user}}/command/delete/{{_id}}">
                  <button type="submit" class="button delete-btn">Видалити</button>
                </form>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <ul>
        {{#loop 1 pages 1}}
          <li id="pages-container">
            <a id="counter" href="./{{this}}">{{this}}</a>
          </li>
        {{/loop}}
      </ul>
    </div>
  </div>
</body>
