<head>
  <title>Редагувати меню</title>
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/main_styles.css">
</head>
<body>
  <header class="header">
    <h1>Редагування підменю: {{name_of_parent}}</h1>
    <a id="exit" href="/admin/{{user}}/exit"><i class="fas fa-power-off"></i> ВИХІД</a>
  </header>
  {{> sidebar id=user}}
  <div class="table_container">
    <div class="control-panel small">
      <a href="{{redirect_link}}" class="button primary-btn">Назад</a>
      <a href="/admin/{{user}}/all/submenu/{{submenu_id}}/child/add" class="button accent-btn">Додати</a>
    </div>
    <div class="content-area">
      <table class="table-fill">
        <thead>
          <tr>
            <th>№</th>
            <th>Назва</th>
            <th>Мова</th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {{#each childlist}}
            <tr>
              <td class="text-left">{{number}}</td>
              <td class="text-left">{{title}}</td>
              <td class="text-left">{{lang}}</td>
              <td class="left-text">
                <form method="GET" action="/admin/{{../user}}/all/submenu/{{../submenu_id}}/child/edit/{{_id}}">
                  <button class="button primary-btn">Редагувати</button>
                </form>
                <form action="/admin/{{../user}}/all/submenu/{{_id}}/child">
                  <button class="button secondary-btn">Перейти в Підменю</button>
                </form>
                <form action="/admin/{{../user}}/all/submenu/{{../submenu_id}}/child/setUp/{{_id}}" method="POST">
                  <button class="button secondary-btn">Підняти</button>
                </form>
                <form action="/admin/{{../user}}/all/submenu/{{../submenu_id}}/child/setDown/{{_id}}" method="POST">
                  <button class="button secondary-btn">Опустити</button>
                </form>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</body>
