<head>
  <title>Редагувати меню</title>
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/main_styles.css">
</head>
<body>
  <header class="header">
    <h1>Підменю: {{name_of_parent}}</h1>
    <a id="exit" href="/admin/{{user}}/exit"><i class="fas fa-power-off"></i> ВИХІД</a>
  </header>
  {{> sidebar id=user}}
  <div class="table_container">
    <div class="control-panel small">
      <a href="/admin/{{user}}/mainmenu/lang/{{language}}" class="button primary-btn">Назад</a>
      <a href="/admin/{{user}}/all/{{mainmenu_id}}/submenu/add" class="button accent-btn">Додати</a>
    </div>
    <div class="content-area">
      <table class="table-fill">
        <thead>
          <tr>
            <th>№</th>
            <th>Назва</th>
            <th>Мова</th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {{#each submenu}}
          <tr>
            <td class="text-center">{{number}}</td>
            <td class="text-center">{{title}}</td>
            <td class="text-center">{{../language}}</td>
            <td class="left-text">
              <a href="/admin/{{../user}}/all/{{../mainmenu_id}}/submenu/edit/{{_id}}" class="button primary-btn">
                Редагувати
              </a>
              <a href="/admin/{{../user}}/all/submenu/{{_id}}/child" class="button primary-btn">
                Перейти в Підменю
              </a>
              <form method="POST" action="/admin/{{../user}}/submenu/setUp/{{_id}}">
                <button type="submit" class="button secondary-btn">Підняти</button>
              </form>
              <form method="POST" action="/admin/{{../user}}/submenu/setDown/{{_id}}">
                <button type="submit" class="button secondary-btn">Опустити</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>     
</body>
