<head>
    <link rel="stylesheet" href="/css/input_form.css">
    <link rel="stylesheet" href="/css/checkbox_style.css">
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body style = "background-color: #2f2f2f">
  <nav class="menu">
      <ul>
            <li><form action="/admin/{{user}}/mainmenu" method="GET"><a type="submit" href="/admin/{{userid}}/mainmenu"><i class="fas fa-bars"></i>Головне меню</a></form></li>
            <li><form action="/admin/{{user}}/news/1" method="GET"><a href="/admin/{{userid}}/news/1"><i class="fas fa-newspaper"></i>Новини</a></form></li>
            <li><form action="/admin/{{user}}/pages/1" method="GET"><a href="/admin/{{userid}}/pages/1"><i class="fas fa-file"></i>Сторінки</a></form></li>
            <li><form action="/admin/{{user}}/sidemenu/1" method="GET"><a href="/admin/{{userid}}/sidemenu/1"><i class="fas fa-sliders-h"></i>Бокове меню</a></form></li>
            <li><form action="/admin/{{user}}/links/1" method="GET"><a href="/admin/{{userid}}/links/1"><i class="fas fa-share-alt"></i>Посилання</a></form></li>
            <li><form action="/admin/{{user}}/user/1" method="GET"><a href="/admin/{{userid}}/user/1"><i class="fas fa-user-shield"></i>Адміністратори</a></form></li>  
            <li><form action="/admin/{{user}}/history" method="GET"><a href="/admin/{{userid}}/create-content-folder"><i class="fas fa-keyboard"></i>Редактор</a></form></li>
            <li><form action="/admin/{{user}}/contact/1" method="GET"><a href="/admin/{{userid}}/contact/1"><i class="fas fa-address-book"></i> Контакти</a></form></li>
            <li><form action="/admin/{{user}}/corps/1" method="GET"><a href="/admin/{{userid}}/corps/1"><i class="fas fa-meteor"></i> Види/Роди військ</a></form></li>
            <li><form action="/admin/{{user}}/command/1" method="GET"><a href="/admin/{{userid}}/command/1"><i class="far fa-address-card"></i> Командування</a></form></li>
            <li><form action="/admin/{{user}}/command/1" method="GET"><a href="/admin/{{userid}}/message/1"><i class="far fa-envelope"></i> Повідомлення</a></form></li>
            <li><form action="/admin/{{user}}/history/1" method="GET"><a href="/admin/{{userid}}/history/1"><i class="fas fa-history"></i>Історія редагувань</a></form></li>
            <li><form action="/admin/{{user}}/settings" method="GET"><a href="/admin/{{userid}}/settings"><i class="fas fa-cog"></i>Налаштування</a></form></li>
      </ul>
  </nav> 
  <div class="container">
    <form method="POST" action="/admin/{{userid}}/message/{{id}}/send">
      <div class="row">
        <div class="col-100">
          <label for="email_user"><B>Адреса відправника</B></label>
        </div>
        <div class="col-100">
          <input type="text" id="email_user" name="email_user" placeholder="Email" value="{{email}}" readonly>
        </div>
      </div>
      <div class="row">
        <div class="col-100">
          <label for="email_text"><B>Повідомлення</B></label>
          <textarea id="email_text" readonly>{{text}}</textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-100">
          <label for="text-response"><B>Поле для Відповіді</B></label>
          <textarea id="text-response" name="text_response" required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-100">
          <label for="email_password"><B>Пароль від пошти</B></label>
        </div>
        <div class="col-100">
          <input type="password" id="email-passport" name="email-password" placeholder="Email password" required>
        </div>
      </div>

      <button id="save" type="submit">Відповісти</button>
    </form>
  </div>
</body>
</html>
