<head>
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/checkbox_style.css">
  <link rel="stylesheet" href="/css/menu.css">
</head>
<body style = "background-color: #2f2f2f">
  {{> menu id=userid}} 
  <div class="container">
    <form method="GET" action="/admin/{{user}}/archive/1">
      <div class="row">
        <div class="col-100">
          <label for="email_user"><B>Адреса відправника</B></label>
        </div>
        <div class="col-100">
          <input type="text" id="email_user" name="email_user" placeholder="Email" value="{{email}}" readonly>
        </div>
      </div>
      <div class="row">
        <div class="col-100">
          <label for="email_text"><B>Вхідне Повідомлення: <b style="color: white;">{{date}}</b></B></label>
          <textarea id="email_text" readonly>{{text}}</textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-100">
          <label for="text-response"><B>Текст Відповіді: <b style="color: white;">{{date_response}}</b></B></label>
          <textarea id="text-response" name="text_response" readonly>{{text_response}}</textarea>
        </div>
      </div>
        <div class="row">
        <div class="col-100">
          <label for="email_user"><B>Логін Відповідача</B></label>
        </div>
        <div class="col-100">
          <input type="text" id="email_user" name="email_user" placeholder="Email" value="{{login_response}}" readonly>
        </div>
      </div>
      <button id="save" type="submit">Повернутись до Архіву</button>
    </form>
  </div>
</body>