<head>
  <link rel="stylesheet" href="/css/input_form.css">
  <link rel="stylesheet" href="/css/checkbox_style.css">
  <link rel="stylesheet" href="/css/menu.css">
</head>
<body style = "background-color: #2f2f2f">
  {{> menu id=userid}} 
  <div class="container">
    <form method="POST" action="/admin/{{userid}}/message/{{id}}/send">
      <div class="row">
        <div class="col-100">
          <label for="email_user"><B>Адреса відправника</B></label>
        </div>
        <div class="col-100">
          <input type="text" id="email_user" name="email_user" placeholder="Email" value="{{email}}" readonly>
        </div>
      </div>
      <div class="row">
        <div class="col-100">
          <label for="email_text"><B>Вхідне Повідомлення</B></label>
          <textarea id="email_text" readonly>{{text}}</textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-100">
          <label for="text-response"><B>Поле для Відповіді</B></label>
          <textarea id="text-response" name="text_response" required></textarea>
        </div>
      </div>
      <div class="row">
        <label>Ваш поточна електронна Адреса: <label style="color:red">{{email_current_user}}</label></label>
      </div>
      <div class="row">
        <div class="col-100">
          <label for="email_password"><B>Пароль від пошти</B></label>
        </div>
        <div class="col-100">
          <input type="password" id="email-passport" name="email_password" placeholder="Email password" required>
        </div>
      </div>
      <button id="save" type="submit">Відповісти</button>
    </form>
  </div>
</body>
